{% extends "::layout.html.twig" %}

{% block body %}
<div id="menu">
	<ul>
	</ul>
</div>
<div class="clear"></div>
        <div>
            {% block principal_content %}
            
            {% endblock principal_content %}
     	</div>
{% endblock %}