{% extends "BuntsuuMainBundle:All:layout.html.twig" %}
{% block body %}
	<form action="" class="side-by-side clearfix" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <input type="submit" />
    </form>
    
{% endblock %}