{% extends "BuntsuuMainBundle:All:layout.html.twig" %}
{% block body %}
<div id="first" class="content_design">
	<form action="" class="side-by-side clearfix" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <button class="submit submit_blue" type="submit" >  Validate </button>
    </form>
</div>
<div id="second_large"><img src="{{ asset('bundles/buntsuumain/images/ban.png') }}" alt="banner"/></div>


<script>
    $("#second_large").css('opacity','0');
	$("#second_large").ready(function(){
		$("#second_large").animate({opacity: 1},3000)
	});
</script>
{% endblock %}