html{
display:relative;
width:100%;
/* height:100% */
}

body{
width:90%;
max-width:1200px;
margin:0 auto;
background:url(../images/stripe.png);
}

h2, h3{
font-weight:100;
color:#10306c;
}

#mini{
margin-top:10px;
height:40px;
width:40px;
float:left;
}

.mini{
	vertical-align:middle;
	margin-right:4%;
	height:38px;
	width:38px;
}

#title_page{
margin-left:20px;
font-weight:200;
float:left;
color:black;
font-family: 'Exo', sans-serif;
margin-right:10px;
}

#title{
font-family: 'Exo', sans-serif;
font-size:3em;
font-weight:400;
padding:0;
margin:0;
}

#title img{
margin-left:5px;
}

#subtitle{
font-family: 'Exo', sans-serif;
font-size:1.2em;
font-weight:100;
padding-left:4px;
}


#header{
width:95%;
margin:0 auto;
line-height:2.5em;
}

#buntsuu{
position:relative;
top:50px;
-webkit-animation-name: fly;  
-webkit-animation-iteration-count:infinite; 
-webkit-animation-timing-function: ease-in-out;  
-webkit-animation-duration: 5s;
-moz-animation-name: fly;  
-moz-animation-iteration-count:infinite; 
-moz-animation-timing-function: ease-in-out;
-moz-animation-duration: 5s;
}


@-webkit-keyframes fly {  
0% { -webkit-transform: translate(0px,0px);} 
25% {-webkit-transform: translate(0px,5px);} 
50% {  -webkit-transform: translate(0px,0px);} 
75% { -webkit-transform: translate(0px,5px);} 
100% {  -webkit-transform: translate(0px,0px);}
}

@-moz-keyframes fly {  
0% { -moz-transform: translate(0px,0px);} 
25% {-moz-transform: translate(0px,5px);} 
50% {  -moz-transform: translate(0px,0px);} 
75% { -moz-transform: translate(0px,5px);} 
100% {  -moz-transform: translate(0px,0px);}
}


#menu a{
text-decoration:none;
color:#000;
position:absolute;
text-align:center;
font-family: 'Exo', sans-serif;
font-weight:700;
font-size:1.2em;
padding:0px 1% 0.4% 1%;
display:block;
float:left;
width:80px;
background: rgb(243,243,243); /* Old browsers */
background: -moz-linear-gradient(top, rgba(243,243,243,1) 0%, rgba(236,228,241,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243,243,243,1)), color-stop(100%,rgba(236,228,241,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(243,243,243,1) 0%,rgba(236,228,241,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(243,243,243,1) 0%,rgba(236,228,241,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(243,243,243,1) 0%,rgba(236,228,241,1) 100%); /* IE10+ */
background: linear-gradient(top, rgba(243,243,243,1) 0%,rgba(236,228,241,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#ece4f1',GradientType=0 ); /* IE6-9 */
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
-ms-border-radius:15px;
border-radius: 15px;
-moz-box-shadow:    3px 3px 5px 1px #ccc;
-webkit-box-shadow: 3px 3px 5px 1px #ccc;
box-shadow:         3px 3px 5px 1px #ccc;
}

#menu a:hover{
border:2px solid white;
}

#menu a:active{
border:none;
}

#menu{
width:25%;
/* height:80%; */
float:left;
}

#menu ul{
margin:0px 5% 5% 5%;
padding:0;
}
#menu li{
display:block;
float:left;
width:80px;
height:110px;
padding:1% 2% 2% 1%;
margin:0 5% 5% 5%;
}

#content{
width:70%;
float:left;
max-height:580px;
}

#content_first{
width:45%;
margin:2%;
float:left;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
-ms-border-radius:15px;
border-radius: 15px;
border:1px solid #e1c62f;
background:#fff;
}

#content_second{
background:#fff;
width:45%;
margin:2%;
float:left;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
-ms-border-radius:15px;
border-radius: 15px;
border:1px solid #40cb64;
}

#content_third{
width:45%;
margin:2%;
float:left;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
-ms-border-radius:15px;
border-radius: 15px;
border: 1px solid #c8c8c8;
background:#fff;
}


#content_second h2{
font-weight:700;
color:#40CB64;
text-align:center;
}


#content_first h2{
font-weight:700;
color:#E1C62F;
text-align:center;
}


#article{
width:80%;
margin:0 auto;
padding:10px 0 10px 0;
}




#content_main{}


#main{
font-family:Arial;
background-color:;
margin:0 auto;
border-radius:10px;
/*padding-bottom:4%;*/
}


/*FIRST CONTENT*/
#first{
width:25%;
float:left;
margin:0 auto;
padding:0;
font-weight:100;
margin-left:4%;
}

/*SECOND CONTENT*/
#second{
width:25%;float:left;
margin-left:4%;
}

#second_large{
width:60%;
float:left;
margin-left:6%;
}


/* THIRD CONTENT */
#third
{
width:25%;float:left;
margin:0 auto;
margin-left:4%;

}

/* CONTENT DESIGN */
.content_design{
background: rgb(243,243,243); /* Old browsers */
background: -moz-linear-gradient(top, rgba(243,243,243,1) 0%, rgba(236,228,241,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243,243,243,1)), color-stop(100%,rgba(236,228,241,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(243,243,243,1) 0%,rgba(236,228,241,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(243,243,243,1) 0%,rgba(236,228,241,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(243,243,243,1) 0%,rgba(236,228,241,1) 100%); /* IE10+ */
background: linear-gradient(top, rgba(243,243,243,1) 0%,rgba(236,228,241,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#ece4f1',GradientType=0 ); /* IE6-9 */
-webkit-border-radius: 25px;
-moz-border-radius: 25px;
-ms-border-radius:25px;
border-radius: 25px;
-moz-box-shadow:    3px 3px 5px 2px #ccc;
-webkit-box-shadow: 3px 3px 5px 2px #ccc;
box-shadow:         3px 3px 5px 2px #ccc;
}

.general_content{
	padding-left:10%;
}

.clear{
clear:both;
}

/*FIRST PAGE*/

#next_article{
cursor:pointer;
}

#previous_article{
cursor:pointer;
}

/* PROFILE  PAGE */
.classic_top{
font-weight:800;
-webkit-border-radius: 15px 15px 0px 0px;
-moz-border-radius: 15px 15px 0px 0px;
-ms-border-radius:15px 15px 0px 0px;
border-radius: 15px 15px 0px 0px;
padding:2%;
}

.classic_bottom{
font-weight:800;
padding:2%;
}

.skype{
background-color:#3dc2f3;
font-weight:800;
padding:2%;
color:white;
}
.facebook{
color:white;
font-weight:800;
padding:2%;
background-color:#3b5998;
-webkit-border-radius: 0px 0px 15px 15px;
-moz-border-radius: 0px 0px 15px 15px;
-ms-border-radius:0px 0px 15px 15px;
border-radius: 0px 0px 15px 15px;
}

.letter{
font-weight:800;
padding:2%;
}
.email{
font-weight:800;
padding:2%;
}
/* FORMULAIRE */
form{
padding:1em;
}

input[type=text],input[type=password],input[type=email], select{
display:block;
width:15em;
height:2em;
margin-bottom:10px;
}

.chzn-container-single{
margin-bottom:10px;
}

input[type=submit], .button{
background:#10306C;
border:none;
color:#fff;
cursor:pointer;
font-size:1em;
padding: 0.2em 5.2em 0.2em 5.2em;
}

/* button used in : preference */
.button_green{
background:#40CB64;
border:none;
color:#fff;
cursor:pointer;
font-size:1em;
text-align:center;
padding: 0.2em 0em 0.2em 0em;
-webkit-border-radius: 0 0 10px 10px;
-moz-border-radius: 0 0 10px 10px;;
-ms-border-radius: 0 0 10px 10px;
border-radius: 0 0 10px 10px;
}

input[type=submit]:hover{
background:#15C;
}

.submit{
border:none;
color:#fff;
width:15em;
height: 2em;
text-align:center;
cursor:pointer;
margin-left:1em;
}

.submit_green {background:#23b047;}
.submit_green:hover{background:#40cb64;}
.submit_blue{background:#26aadb;}
.submit_blue:hover{background:#39c1f3;}
.submit_purple{background:#7100ac;}
.submit_purple:hover{background:#9701e5;}


input[type=text],input[type=password],select{
border:none;
}

textarea{
display:block;
}

label{
padding-top:10px;
display:block;
color:#15C;
}

.content{
width:75%;
margin:0 auto;
}

/*STYLE PREFERENCE */

#language_spoken{
	
}

#language_searched{
	
}

.checkbox_form{
display:none;
}

.checkbox_label{
	font-size:20px;
	font-weight:900;
	color:#FFDA73;
	text-align:center;
}

.checkbox_label:hover{
	color:black;
}

.checkbox_label_checked{
	font-size:20px;
	font-weight:900;
	color:#7db9e8;
	text-align:center;
}

.checkbox_label_checked:hover{
	color:white;
}

/*STYLE CHAT ROOM*/

#target{
	background:#fff;
width:20%;
margin:2%;
float:left;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
-ms-border-radius:15px;
border-radius: 15px;
border:1px solid #3dc2f3;
}

#chat{
border: 1px solid #c8c8c8;
background:#fff;
width:70%;
margin:2% 2% 0 2% ;
float:left;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
-ms-border-radius:15px;
border-radius: 15px;
border: 1px solid #c8c8c8;
max-height:320px;
overflow-y:auto;
word-wrap: break-word;
}

#text{
margin:10px 0 0 10px;
}

#write{
width:70%;
margin:2%;
float:right;
}

#target li{
	color:#3dc2f3;
	list-style: none;
	font-size:18px;
	font-weight:800;
	margin:10px;
	cursor:pointer;
}

#target li:hover{
	color:#15C;
}

#target li.currentTarget{
	color:black;
}

#chat h3{
	display:inline;
	color:#40CB64;
}

.noPadding{
padding:0;
}

input[type=text].noDesign{
background:none;
width:15px;
border:none;
display:inline;
}
#message{
float: left;
height: 50px;
width: 40%;
}

#submit{
float:left;
height:56px;
}
/*WARNING MESSAGE*/
#warning{
background:#fff;
width:90%;
margin:4%;
padding:20px 1% 20px 1%;
float:left;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
-ms-border-radius:15px;
border-radius: 15px;
border:1px solid #d5a0d7;	
}

#warning h2
{
color:#d5a0d7;
}

/* SEARCH AREA */

.user_case_male{
width:50px;
margin:2%;
padding:4%;
float:left;
-webkit-border-radius: 12px;
-moz-border-radius: 12px;
-ms-border-radius:12px;
border-radius: 12px;
border:1px solid #c8c8c8;
background:#fff;
color:#15C;
font-size:16px;
font-weight:800;
}

.user_case_female{
width:15px;
margin:2%;
padding:3%;
float:left;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
-ms-border-radius:10px;
border-radius: 10px;
border:1px solid #d5a0d7;
background:#fff;
color:#C38EC5;
font-size:16px;
font-weight:800;
}

/*IE IMG BORDER*/

img{border:none;}

/*LINK TEXT */

a:link,a:visited{text-decoration:none;
color:#000;}

/* MEDIAQUERIES*/
@media screen and (min-width: 390px) and (max-width: 700px) {
  
div {
  display:block;
  clear:both;
}
  
 #first{
width:100%;
 }
 
 #second{
	width:100%;
}

#third{
	width:100%;
}
  
.content{
width:85%;
margin:0 auto;
}

}

@media screen and (min-width: 10px) and (max-width: 390px) {

 html,body{
 width:100%;
 margin:0;
 padding:0;
 }
 
div {
   display:block;
   clear:both;
}
 
 #first,#second,#third,#menu,#content{
width:100%;
margin:0 auto;
border:none;
border-radius:0;
-webkit-border-radius: 0;
-moz-border-radius: 0;
-ms-border-radius:0;
border-radius: 0;
background:#efebf2;
 }
 
 .general_content{
 margin:0 auto;
 padding:0;
 }
 
 #content_first,#content_second{
 	width:80%;
 	margin:0 auto;
 }
 
 
input[type=text],input[type=password],input[type=email], select{
display:block;
width:100%;
height:2em;
margin-bottom:10px;
}

.chzn-single,.chzn-select,.chzn-done,.chzn-container ,.chzn-container-single{
width:100%;
}

 img{
 display:none;
 }
 
 .submit{
 width:100%;
 height:3em;
 margin:0;
 padding:0;
 border:none;
 }
 
 #menu{
 background:none;
 }
 
 #menu a{
 width:100%;
 position:static;
 -webkit-border-radius:0;
-moz-border-radius: 0;
-ms-border-radius:0;
border-radius: 0;
-moz-box-shadow: 0;
-webkit-box-shadow:0;
box-shadow:0;
background:#efebf2;
border:1px solid #e9e6ec;
}
 
#content_first,#content_second,#content_third,#chat,#target,#submit,#message{
margin:0 auto;
width:95%;
-webkit-border-radius:0;
-moz-border-radius: 0;
-ms-border-radius:0;
border-radius: 0;
}

.facebook{
-webkit-border-radius:0;
-moz-border-radius: 0;
-ms-border-radius:0;
border-radius: 0;
}

#write{
width:95%;	
}


 #menu a:active{border:1px solid #e9e6ec}
 #menu li{
  width:50%;
 height:auto;
 display:block;
 padding:0;
 margin:0;
 float:left;
 background:#efebf2;
 }
 #menu ul{
 width:100%;
 height:auto;
 display:block;
 padding:0;
 margin:0;
 float:left;

 }

#second form{
width:85%;
margin:0 auto;
}

#secondary{
width:50%;
margin:0 auto;
}

 #title img{display:none}
}

/*END MEDIAQUERIES */

/* GOSSELET Sébastien -> sebastien-gosselet.fr */